<table class="table">
  <% @mails.each do |mail| %>
    <tr>
     <td><%= mail.created_at.strftime("%y/%m/%d %H:%M:%S")%></td>
     <td><%= mail.eml_file %></td>
     <td><%= mail.mqpath %></td>
     <td><%= mail.log_cm %></td>
    </tr>
  <% end %>
</table>