default: &default
  website:
    title: FocusMail代理
    favicon: ./images/favicon.gif
  server:
    ip: localhost:3000 
    download_path: /openapi
    agent_ip: localhost:3000
  pool:
    wait: /public/pool/wait
    download: /public/pool/download
    emails: /public/pool/emails
    backup: /public/pool/backup
    archived: /public/pool/archived
  mailgates: 
    user: webmail
    group: webmail
    mode: 777
    path:
      wait: /mailgates/mqueue/wait
      log: /mailgates/mqueue/log/mgmailerd.log
      archived: /mailgates/log_archive

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
