---
default:
  website:
    title: FocusMail代理
    favicon: ./images/favicon.gif
  os:
    platform: "platform"
    hostname: "hostname"
  mailgates: 
    speed: 300
    wait_path: /mailgates/mqueue/wait
    log_file: /mailgates/mqueue/log/mgmailerd.log
    archive_log_path: /mailgates/mqueue/archived

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
