.row 
  %h1 代码状态

.row
  - process_info_datas = agent_process_info
  - usefull = [0,1,3,4,8,9]
  %table.table.table-hover.table-bordered
    %thead
      %tr
        - process_info_datas.shift.each_with_index do |item, index|
          - next unless usefull.include?(index)
          %td= item
        
    %tbody
      - process_info_datas.each do |row|
        - if row.size > 2
          %tr
            - row.each_with_index do |item, index|
              - next unless usefull.include?(index)
              %td= item 
          %tr
            %td
            %td{colspan: "5"}=row.last
        - else
          %tr
            %td= row[0]
            %td{colspan: "5"}=row[1]
      - crontab_jobs_list.each do |job|
        %tr
          %td crontab
          %td{colspan: "5"}= job
