<div style="position: static;" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
        <a data-target=".navbar-inverse-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
      <a href="#" class="brand">FocusAgent</a>
      <div class="nav-collapse collapse navbar-inverse-collapse">
        <ul class="nav" id="navbar_head">
            <li class="active"><a href="/">Overview</a></li>
            <li><a href="/send_mail">SendMail</a></li>
            <li><a href="/mail_gates">MqEth</a></li>
            <li><a href="/">MailLog</a></li>
            <li><a href="/test_mail">TestMail</a></li>
            <li><a href="/worker">Resque</a></li>
            <li><a href="/">ChkMail</a></li>
        </ul>
        <form action="" class="navbar-search pull-left">
          <input type="text" placeholder="Search" class="search-query span2">
        </form>
        <ul class="nav pull-right">
          <li><a href="#">Link</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/send_mail/stop" data-remote="true">Stop</a></li>
              <li><a href="/send_mail/start" data-remote="true">Start</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
